.tag {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFD28F;
    padding: .2rem .8rem;
    border: .2rem solid #FFD28F;
    border-radius: .8rem;
    text-decoration: none;
    cursor: pointer;
}

.tag:hover {
    color: #FF902B;
    border-color: #FF902B;
}

.tag__active {
    color: #FF902B;
    border-color: #FF902B;
}