.cards {
    width: 120rem;
    display: flex;
}

.card {
    display: flex;
    place-content: center;
    place-items: center;
    width: 28rem;
    height: 34rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(4px);
    border-radius: 1.2rem;
    padding: .6rem;

}

.card__container {
    width: 100%;
    padding: 2.4rem 1.8rem;
    background-color: #FFF;
    border-radius: 1.2rem;
}