/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:#F6EBDA;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  background: url('./assets/images/bg-image.png') fixed bottom no-repeat;
  width: 100%;
  height: 100vh;
}

body::before,
body::after {
  content: "";
  background: url('./assets/images/coffee.svg') no-repeat;
  mix-blend-mode: normal;
  position: absolute;
  width: 56.9rem;
  height: 39.4rem;
  z-index: 3;
}

body::before {
  left: -4rem;
  bottom: -4rem;
  transform: rotate(20deg);
}

body::after{
  right: -16rem;
  top: -8rem;
  transform: rotate(160deg);
}

main {
  width: 120rem;
  margin: 0 auto;
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  place-content: center;
  place-items: center;
}